


<article id="post-22" class="post-22 page type-page status-publish" itemtype="https://schema.org/CreativeWork" itemscope>
   <div class="inside-article">
      <div class="entry-content" itemprop="text">
         <div class="gb-container gb-container-8ecef3d3">
            <div class="gb-container gb-container-84c193bd">
               <h3 class="gb-headline gb-headline-a0631c53 gb-headline-text">Add Project Component </h3>
            
               <form action="#">
                  <div class="user__details">
                     <div class="input__box">
                        <span class="details">Site Name </span>
                        <input type="text" placeholder="https://www.amazon.com" required>
                     </div>
                     <div class="input__box">
                        <span class="details">API Endpoint URL</span>
                        <input type="email" placeholder="/" required>
                     </div>
                     <div class="input__box">
                        <span class="details">Consumer Key</span>
                        <input type="password" placeholder="********" required>
                     </div>
                     <div class="input__box">
                        <span class="details">
                        Consumer Secret Code</span>
                        <input type="password" placeholder="********" required>
                     </div>
                  </div>
                  <div class="gender__details">
                     <input type="radio" name="gender" id="dot-1">
                     <input type="radio" name="gender" id="dot-2">
                     <input type="radio" name="gender" id="dot-3">
                     <span class="gender__title">e-commerce selection</span>
                     <div class="category">
                        <label for="dot-1">
                        <span class="dot one"></span>
                        <span>Woocommerce</span>
                        </label>
                        <label for="dot-2">
                        <span class="dot two"></span>
                        <span>Shopify</span>
                        </label>
                     </div>
                  </div>
                  <div class="button">
                     <input type="submit" value="Register">
                  </div>
                </form>


            </div>
         </div>
      </div>
   </div>
</article>
