.button {
    font: inherit;
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    height: 40px;
    border-radius: 8px;
    line-height: 1;
    border: 2px solid var(--c-border-primary);
    color: var(--c-text-action);
    font-size: 0.875rem;
    transition: 0.15s ease;
    background-color: var(--c-background-primary);
}
.button i {
    margin-right: 0.5rem;
    font-size: 1.25em;
}
.button span {
    font-weight: 500;
}
.button:hover, .button:focus {
    border-color: var(--c-accent-primary);
    color: var(--c-accent-primary);
}
.icon-button {
    font: inherit;
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    color: var(--c-text-action);
    transition: 0.15s ease;
}
.icon-button i {
    font-size: 1.25em;
}
.icon-button:focus, .icon-button:hover {
    background-color: var(--c-background-tertiary);
    color: var(--c-accent-primary);
}